<div class="container">
  <div class="starter-template">
    <div class="panel panel-default" id='messagesDiv'></div>
    <form class="form-inline" role="form">
      <div class="form-group">
        <input class="form-control" type="text" id="nameInput" placeholder="Name">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" id="messageInput" placeholder="Messag">
      </div>
      <a class="btn btn-default" role="button" onclick="clickButton()">Say <span class="glyphicon glyphicon-plus"></span></a>
    </form>
  </div>
</div>